@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cinzel:wght@400;700;900&display=swap');
// zmienne wprowadza się znakiem $ np: $color: #F9F5F2
*,
*::before,
*::after { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    background-color: #F9F5F2;
}

.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:focus {
        outline: none;
        border: 0.2px solid rgba(255, 192, 203, 0);
        border-radius: 8px;
    }

    &:hover {
        .burger-btn__bars::after, .burger-btn__bars::before {
            width: 100%;
        }
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars, 
    &__bars::after, 
    &__bars::before {
        position: absolute;
        right: 0;
        height: 3px;
        content: '';
        background-color: rgb(0, 0, 0);
        transition: width .3s;
    }

    &__bars {
        width: 100%;

        &::after{
            top: 13px;
            width: 60%;
        }

        &::before{
            top: 27px;
            width: 30%;
            transition-delay: .1s;
        }
    }
}

// .btn-special-animation {
//     position: relative;
//     transition: background-color .3s;
//     overflow: hidden;
//     z-index: 0;

//     &::before {
//         background-color: pink;
//         display: block;
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         transform: scaleX(0);
//         transform-origin: right;
//         transition: transform .3s;
//         z-index: -1;
//     }

//     &:hover::before{
//         transform: scaleX(1);
//         transform-origin: left;
//     }
// }

.navbar-mobile {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: pink;
    z-index: 100;

    &--active{
        transform: translateX(0);
    }

    &__link {
        position: relative;
        display: block;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        font-size: 1.6rem;
        text-decoration: none;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            transform: scaleY(0);
            background-color: black;
            transition: transform .3s;
            content: '';
        }

        &:hover::before {
            transform: scaleY(1);
        }
    }
    &__links-mini{
        display: flex;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        ul{
            list-style-type: none;
            a{
                font-family: 'Cinzel', serif;
                font-size: 1rem;
                color: black;
                text-decoration: none;
            }
        }
    }
}

.navbar-desktop{
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    top: 25px;
    width: 100%;
    margin-bottom: 30px;

    img {
        display: flex;
        position: relative;
        left: 20px; 
        width: 225px;
        height: 56px;
    }
}

.wrapper { 
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}



.background {
    z-index: -1;

    .triangle {
        width: 100%;
        height: 300px;
        position: absolute;
        clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
        background-color: pink;
    }

    .triangle_reversed{
        width: 100%;
        height: 300px;
        position: absolute;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: pink;
    }
}

.flex-container{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 1.1rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: normal;
    text-align: center;
    width: 250px;
    margin:50px 0;
}

h2 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: black;
}

h3{
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    font-weight: normal;
}

// /////////////////////// //
// ////////Obrazki//////// //
// /////////////////////// //

figure {
    height: 286px;
}

.images {
    width: 100%;
    align-items: center;

    .scroll-images{
        position: relative;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    
        img{
            cursor: pointer;
            position: relative;
            display: flex;
            width: 161px;
            height: 286px;
            margin: 0 5px;
        }
    
        .img-hidden{
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            bottom: 286px;
        }
    }
    .thumbnail:hover{
        opacity: 1;
        position: relative;
    }
}


p{
    font-size: 1.1rem;
    font-family: 'Abhaya Libre', serif;;
}

.inspiration{
    text-align: center;
    margin-top: 60px;

    &__btn{
        width: 147px;
        height: 33px;
        font-family: 'Cinzel', serif;;
        font-size: 1rem;
        border-radius: 12px;
        border: none;
        background-color: #FF31A6
    }
    p{
        width: 190px;
        text-align: center;
        margin-bottom: 10px;
    }

    a{
        color: white;
        text-decoration: none;
    }
}

.mini-rocket {
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    h2 {
        text-decoration: none;
        line-height: 100%;
        font-size: 1.1rem;
    }
    .item {
        width: 144px;
        height: 240px;

        a {
            text-decoration: none;
        }
        .leaflet {
            height: 144px;
            border: 1px solid black;
            box-shadow: 0px 8px 8px -6px rgba(66, 68, 90, 1);
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h2 {
            margin: 6px 0;
            color: #000;
        }
        p {
            font-family: 'Abhaya Libre', serif;
            font-weight: normal;
            font-size: 0.9rem;
            color: #737373;
        }
    }
}

// /////////////////////// //
// ///////Wizytówka/////// //
// /////////////////////// //

.business_card{
    display: grid;
    position: relative;
    margin: 20px 0px 20vw 0px;

    h3{
        font-size: 4vw;
        margin: 3vw 0;
    }

    p{
        font-size: 3.6vw;
        margin: 3vw 0;
        width: 55vw;
    }

    a{
        color: white;
        text-decoration: none;
    }

    &__btn{
        position: relative;
        font-family: 'Cinzel', serif;;
        font-size: 3.1vw;
        height: 7vw;
        width: 57vw;
        border-radius: 5vw;
        border: none;
        color: white;
        background-color: #FF31A6
    }

    img{
        position: absolute;
        width: 100%;
    }

    mark{
        background-color: #FF31A6;
    }
}

.text{
    margin-left: 40%;
    display: inline;
    position: relative;
}

// /////////////////////// //
// //////Nowe Kafelki///// //
// /////////////////////// //
.bricks {
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
}

.brick {
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    a {
        text-decoration: none;
    }

    h3 {
        color: #000;
        font-weight: bold;
        font-size: 16px;
    }
    p {
        color: #737373;
    }
    &__1, &__2, &__3, &__4 {
        border-left: 3px solid;
        border-radius: 0 20px 20px 0 ;
        padding-left: 5px;
        max-width: 300px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5vw;
        transition: background-color 0.5s ease;
    }
    &__1:hover, &__2:hover, &__3:hover, &__4:hover {
        background-color: rgba(255, 180, 193, 0.445);
    }
    // &__1 {
    //     margin-left: 5vw;
    // }
    // &__2 {
    //     margin-left: 8vw;
    // }
    // &__3 {
    //     margin-left: 11vw;
    // }
    // &__4 {
    //     margin-left: 14vw;
    // }
}

// /////////////////////// //
// ////////Kafelki//////// //
// /////////////////////// //

// .bricks{
//     display: grid;
//     justify-content: center;
//     text-align: center;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(3, auto);
//     grid-gap: 2vw;
//     margin: 20vw 5px 0px 5px;

//     .brick{
//         display: flex;
//         justify-content: center;
//         line-height: 5vw;
//         margin: 0 auto;
//         width: 46vw;
//         height: 32vw;
//         background-image: url('../assets/STRONA KLAUDII/2.png');
//         background-size: cover;

//         a{
//             display: flex;
//             align-items: center;
//             text-align: center;
//             font-family: 'Cinzel', serif;
//             font-weight: bold;
//             font-size: 4.5vw;
//             color: white;
//             text-decoration: none;
//         }
//     }

//     .banner{
//         grid-column: 1 / span 2;

//         img{
//             width: 94vw;
//         }
//     }
// }

.insta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
    height: 450px;
    width: 100%;
    overflow: hidden;

    &__content {
        transition: opacity 0.3s ease;
        img {
            width: 100%;
            height: 215px;
            object-fit: cover;
        }
    }

    &__content:hover {
        opacity: 0.8;
    }
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color:pink;
    height: 120px;

    .footer-logo {
        width: 300px;
        height: 75px;
        margin: 5px 0px;

        img {
            width: 100%;
        }
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 0;

        a {
            color: black;
            text-decoration: none;
        }
    }
}
// /////////////////////// //
// /////////Koniec//////// //
// ////////Kochana//////// //
// ///////Rządzisz//////// //
// /////////////////////// //

.remont{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;

    p{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Cinzel', serif;
    }

    img{
        border: black solid;
        position: absolute;
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
}

// /////////////////////// //
// //////Media 768px////// //
// /////////////////////// //

@media(min-width: 768px) {
    .burger-btn {
        top: 40px;
        right: 40px;
    }

    .logo {
        top: 20px;
        img {
            left: 50px;
            width: 406px;
            height: 101px;
        }
    }

    .mini-rocket {
        flex-direction: row;
        .item {
            margin: 0 20px;
            transition: background-color 0.3s ease;
            border-radius: 0px 0 10px 10px;
        }
        .item:hover {
            background-color: rgba(255, 180, 193, 0.445)
        }
    }

    .business_card{
        margin: 20px 0px 6vw 0px;


        h3{
            width: 70%;
            font-size: 3vw;
            margin-top: 3vw;
            margin-bottom: 0;
        }

        p{
            font-size: 2.5vw;
            margin: 1.5vw 0;
            width: 54vw;
        }

        &__btn{
            font-size: 2vw;
            height: 4vw;
            width: 34vw;
            border-radius: 2.7vw;
            margin-top: 1vw;
        }

        img{
            content: url('../assets/STRONA KLAUDII/background.png');
            position: absolute;
            width: 100%;
        }
    }

    // .bricks{
    //     margin: 10vw 5px 0px 5px;
    // }

    .insta {
        height: 550px;

        &__content {
            img {
                height: 260px;
            }
        }
    }
    // /////////////////////// //
    // /////////Koniec//////// //
    // ////////Kochana//////// //
    // ///////Rządzisz//////// //
    // /////////////////////// //
}

// /////////////////////// //
// //////Media 992px////// //
// /////////////////////// //

@media(min-width:992px) {
    .logo {
        margin-bottom: 90px;
        img {
            width: 380px;
            height: 95px;
            margin-right: 30px;
        }
    }

    .but-desktop {
        flex-direction: column;
        align-items: center;
        h2 {
            cursor: pointer;
            position: relative;
        }

        h2::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: white;
            transition: width 0.3s ease-in-out;
        }

        h2:hover::after {
            width: 100%;
        }
    }

    .navbar-desktop{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        text-wrap: nowrap;
        width: 100%;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-left: 50px;
        }

        &__link {
            display: flex;
            justify-content:space-around;
            width: 100%;
            
            a {
                text-decoration: none;
                position: relative;
            }

            a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: white;
                transition: width 0.3s ease-in-out;
            }

            a:hover::after {
                width: 100%;
            }
        }

        &__links-mini {
            top: 30px;
            position: absolute;
            margin-left: 28px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.7s ease-in-out;
            ul {
                padding: 0;
                margin: 0;
                li {
                    margin: 8px 0;
                    list-style: none;
                    font-size: 1rem;
                    a {
                        color: #000;
                        position: relative;
                    }
                }
            }
        }

        &__links-mini.show {
            max-height: 200px;
        }
    }
    .navbar-mobile{
        display: none;
    }
    .burger-btn{
        display: none;
    }

    .background {
        .triangle{
            height: 800px;
        }

        .triangle_reversed{
            height: 400px;
        }
    }

    h1 {
        font-size: 1.6rem;
        width: 450px;
    }

    figure {
        height: 486px;
    }
    
    .images {
        display: flex;
        width: 100%;
        justify-content: center;

        .scroll-images::-webkit-scrollbar {
            height: 8px;
        }

        .scroll-images::-webkit-scrollbar-thumb {
            background-color: #FAB8C4;
            border-radius: 4px;
        }

        .scroll-images{
            position: relative;
            display: flex;
            overflow: hidden;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        
            img{
                position: relative;
                display: flex;
                width: 274px;
                height: 486px;
                margin: 0 5px;
            }
        
            .img-hidden{
                transition: opacity 0.2s ease-in-out;
                opacity: 0;
                bottom: 486px;
            }
        }
        .thumbnail:hover{
            opacity: 1;
            position: relative;
        }
    }

    p{
        font-size: 1.6rem;
    }

    .inspiration{

        &__btn{
            width: 220px;
            height: 45px;
            font-size: 1.6rem;
        }

        p{
            width: auto;
            margin-bottom: 20px;
        }
    }

    .mini-rocket {

        .item {
            height: 380px;
            width: 200px;
            margin: 0 60px;
            .leaflet {
                height: 200px;
            }
    
            .description {
                h2 {
                    font-size: 1.6rem;
                }
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .business_card{
        max-width: 992px;
        margin: 60px auto;
        

        h3{
            font-size: 2rem;
            margin-top: 10px;
            margin-bottom: 0;
        }

        p{
            width: 89%;
            font-size: 1.6rem;
            margin: 10px 0;
        }

        &__btn{
            width: 400px;
            height: 45px;
            font-family: 'Abhaya Libre', serif;;
            font-size: 1.6rem;
            border-radius: 12px;
            border: none;
            background-color: #FF31A6;
        }
    }

    .business_background{
        background-image: url('../assets/STRONA KLAUDII/business_background.png');
        background-size: cover;
        background-color: #FAB8C4;
        height: 544.05px;
    }

    .bricks {
        margin: 40px 10px;
    }

    .brick {
        flex-direction: row;

        h3 {
            font-size: 1.6rem;
        }

        p {
            color: #737373;
        }

        &__1, &__2, &__3, &__4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin-left: 0;
            margin-bottom: 0;
            width: 100%;
            max-width: 100%;
            height: 260px;
            margin: 0 5px;
        }
        &__2 {
            margin-top: 50px;
        }
        &__3 {
            margin-top: 100px;
        }
        &__4 {
            margin-top: 150px;
        }
    }

    // .bricks{
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-template-rows: repeat(3, auto);
    //     grid-gap: 6vw;

    //     .brick{
    //         line-height: normal;
    //         width: 265px;
    //         height: 189px;

    //         a{
    //             justify-content: center;
    //             font-size: 1.6rem;
    //         }
    //     }

    //     .banner{
    //         grid-column: 1 / span 2;
    
    //         img{
    //             max-width: 1400px;
    //         }
    //     }
    // }

    .insta {
        grid-template-columns: repeat(5, 1fr);
        height: 550px;

        &__content {
            img {
                height: 265px;
            }
        }
    }

    footer{
        display: flex;
        position: relative;
        justify-content: center;
        height: 150px;

        .footer-logo {
            width: auto;
            margin: 10px 0;

            img {
                width: 380px;
                height: 95px;
            }
        }

        .footer-info {
            margin-top: 30px;
        }
    }
    // /////////////////////// //
    // /////////Koniec//////// //
    // ////////Kochana//////// //
    // ///////Rządzisz//////// //
    // /////////////////////// //
}

// /////////////////////// //
// //////Media 1170px///// //
// /////////////////////// //

@media(min-width:1170px){
    .business_card{
        max-width: 1170px;

        h3{
            font-size: 2.4rem;
            margin-top: 50px;
        }

        p{
            width: 79%;
        }

        &__btn{
            margin-top: 30px;
        }
    }

    .business_background{
        height: 641.67px;
    }

    .brisks {
        width: 100%;
        margin: 0;
    }

    .brick {
        &__1, &__2, &__3, &__4 {
            height: 200px;
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    // .bricks{

    //     .brick{
    //         width: 298px;
    //         height: 213px;

    //         a{
    //             width: 298px;
    //             padding: 12% 12%;
    //         }
    //     }
    // }
    // /////////////////////// //
    // /////////Koniec//////// //
    // ////////Kochana//////// //
    // ///////Rządzisz//////// //
    // /////////////////////// //
}

// /////////////////////// //
// //////Media 1400px///// //
// /////////////////////// //

@media(min-width:1400px){
    .business_card{
        max-width: 1400px;

        h3{
            font-size: 2.6rem;
            margin-top: 100px;
        }

        p{
            width: 81%;
            margin-top: 60px;
        }

        &__btn{
            margin-top: 80px;
        }
    }

    .business_background{
        height: 767.81px;
    }
    // .bricks{

    //     .brick{
    //         width: 340px;
    //         height: 243px;

    //         a{
    //             width: 340px;
    //         }
    //     }
    // }
    // /////////////////////// //
    // /////////Koniec//////// //
    // ////////Kochana//////// //
    // ///////Rządzisz//////// //
    // /////////////////////// //
}   

// /////////////////////////// //
// ////////Uniwersalne//////// //
// /////////////////////////// //

.hello {
    flex-direction: column;
    align-items: center;
    padding: 30px 15vw;
    text-align: center;
    height: 100%;
}